--- 

- name: "Abriendo puertos para K8s"
  firewalld: 
    permanent: true
    port: "{{ item }}"
    state: enabled
  loop: 
    - 10250/tcp
    - 30000-32767/tcp
  
# - name: "Reload Firewall"
#   service: 
#     enabled: true
#     name: firewalld
#     state: reloaded