---

  - name: Obtenemos el join comand del nodo Master
    delegate_to: "{{ groups['master'][0] }}"
    command: kubeadm token create --print-join-command
    register: join_command

  - name: Mostramos comando
    debug:
      msg: "{{ join_command.stdout }}"

  - name: Ejecutamos comando
    become: yes
    command: "{{ join_command.stdout }}" --ignore-preflight-errors=all

  # - name: Agregamos workers al cluster
  #   become: yes
  #   shell: "{{ hostvars['master'].join_command }} >> salida_join.txt"
  #   args:
  #     chdir: /home/adminUsername
  #     creates: salida_join.txt