---
  
   - name: Configurando /etc/hosts
     copy:
      src: ficheros/hosts
      dest: /etc/hosts
      mode: u=rw,g=r,o=r

# Started solo lo inicia si no está ya iniciado
   - name: Activar Firewalld
     service:
       name: firewalld
       state: started
       enabled: yes


   - name: Activar Transparent Masquerading
     firewalld:
       masquerade: yes
       state: enabled
       permanent: yes

# Started solo lo inicia si no está ya iniciado
   - name: Activar Firewalld
     service:
       name: firewalld
       state: started
       enabled: yes

   - name: Configurando /etc/sysctl.d/k8s.conf
     copy:
      src: ficheros/k8s.conf
      dest: /etc/sysctl.d/k8s.conf
      mode: u=rw,g=r,o=r

   - name: Aplicando /etc/sysctl.d/k8s.conf
     become: yes
     command: sysctl --system

   - name: Deshabilitando Swap
     become: yes
     command: swapoff -a

   - name: Eliminando Swap del fichero /etc/fstab
     replace:
      path: /etc/fstab
      regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
      replace: '# \1'

   - name: Repos para CRI-O
     become: yes
     get_url: 
       url: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8_Stream/devel:kubic:libcontainers:stable.repo
       dest: /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo

   - name: Repos para CRI-O
     become: yes
     get_url: 
       url: https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable:cri-o:1.23:1.23.1/CentOS_8_Stream/devel:kubic:libcontainers:stable:cri-o:1.23:1.23.1.repo
       dest: /etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:1.23:1.23.1.repo

   - name: Configurando /etc/modules-load.d/crio.conf
     copy:
      src: ficheros/crio.conf
      dest: /etc/modules-load.d/crio.conf
      mode: u=rw,g=r,o=r

   - name: Instalar CRIO
     dnf:
       name: cri-o
       state: latest
     become: yes
     when: ansible_os_family == "RedHat"

   - name: Activar CRIO
     service:
       name: crio
       state: started
       enabled: yes