---
  
   - name: Configurando /etc/hosts
     copy:
      src: ficheros/hosts
      dest: /etc/hosts
      mode: u=rw,g=r,o=r

# Started solo lo inicia si no está ya iniciado
   - name: Activar Firewalld
     service:
       name: firewalld
       state: started
       enabled: yes


   - name: Activar Transparent Masquerading
     firewalld:
       masquerade: yes
       state: enabled
       permanent: yes

# Started solo lo inicia si no está ya iniciado
   - name: Activar Firewalld
     service:
       name: firewalld
       state: started
       enabled: yes

   - name: Configurando /etc/sysctl.d/k8s.conf
     copy:
      src: ficheros/k8s.conf
      dest: /etc/sysctl.d/k8s.conf
      mode: u=rw,g=r,o=r

   - name: Aplicando /etc/sysctl.d/k8s.conf
     become: yes
     command: sysctl --system

   - name: Deshabilitando Swap
     become: yes
     command: swapoff -a

   - name: Eliminando Swap del fichero /etc/fstab
     become: yes
     command: sed -i '/swap/d' /etc/fstab