---
  
   - name: Estableciendo Zona Horaria
     timezone: 
       name: Europe/Madrid
       
   - name: Agregar repositorio de kubernetes
      blockinfile:
      create: yes
      path: /etc/yum.repos.d/kubernetes.repo
      block: |
            [kubernetes]
            baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
            enabled=1
            gpgcheck=1
            repo_gpgcheck=1
            gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg            
            exclude=kubelet kubeadm kubectl 
    
   - name: limpiar cache dnf
     become: yes
     command: dnf clean all

   - name: check dnf
     become: yes
     command: dnf check
     
   - name: update dnf
     become: yes
     command: dnf update

   - name: Actualizamos máquinas a último nivel
     dnf:
       name: "*"
       state: latest
     become: yes
     when: ansible_os_family == "RedHat"
