---
  
   - name: Estableciendo Zona Horaria
     timezone: 
       name: Europe/Madrid 
            
   # Las siguientes tareas las meto aunque no he visto que se hable de ello ni en el foro ni en las clases, pero a mí me ha dado problema el hacer el update
   # de las máquinas a último nivel sin meter esto previamente.
  #  - name: limpiar cache dnf
  #    become: yes
  #    command: dnf clean all

  #  - name: check dnf
  #    become: yes
  #    command: dnf check

  #  - name: Actualizamos máquinas a último nivel
  #    become: yes
  #    command: dnf update -y

  #  - name: Actualizamos máquinas a último nivel
  #    dnf:
  #      name: "*"
  #      state: latest
  #    become: yes
  #    when: ansible_os_family == "RedHat"
     

   - name: Instalar Chrony y Actualizamos máquinas a último nivel
     dnf:
       name: chrony
       state: latest
       update_cache: yes
     become: yes

   - name: Activar Chrony
     service:
       name: chronyd
       state: started
       enabled: yes

   - name: Activar NTP
     become: yes
     command: timedatectl set-ntp true

   - name: Instalando paquetes necesarios
     dnf:
       name: "{{ item }}"
       state: latest
     loop:
       - wget
       - nfs-utils
       - nfs4-acl-tools
       - net-tools
   
   - name: Desactivando Selinux
     become: yes
     selinux:
       state: disabled