---
  
   - name: limpiar cache dnf
     become: yes
     command: dnf clean all

   - name: limpiar cache dnf
     become: yes
     command: dnf check
     
   - name: limpiar cache dnf
     become: yes
     command: dnf check update
     
   - name: limpiar cache dnf
     become: yes
     command: dnf update

   - name: Actualizamos máquinas a último nivel
     dnf:
       name: "*"
       state: present
     when: ansible_os_family == "RedHat"
